run = "npm start"
language = "nodejs"
entrypoint = "index.js"

[env]
PORT = "3000"
PATH = "/home/runner/${REPL_SLUG}/node_modules/.bin"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[nix]
channel = "stable-22_11"

[deployment]
deploymentTarget = "cloudrun"
ignorePorts = false

[server]
host = true
port = 3000

[http]
enabled = true
port = 3000
pathname = "/health" 